@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
            <nav class "navbar">
  <div class="container-fluid">
        <div class="nav navbar-nav">
            <a href="landingpage.cshtml" class="btn" role="button">Home</a>
        <a href="Add_Stock.cshtml"class="btn" role="button">Add Stock</a>
       <a href="Add_New_Item.cshtml" class="btn" role="button">Add New Item</a>
        <a href="Alert.cshtml"class="btn" role="button">Alerts</a>
            <a style=" color: #f00" href="problems" class="btn" role="button">Problems!</a>
    </ul>
   </nav>
  </div>
     <p> Add New Item </p>   
    </body>
</html>
