@{
   Page.title = "Alerts";
   var db = Database.Open("ETS");
var query = "SELECT * FROM parts where parts.quantity <= Parts.alert order by parts.type";
var data = db.Query(query);
var columns = new[]{"PartId, PartDesc, PartName, Type, Quantity"};
var grid =new WebGrid(data, rowsPerPage: 50, ajaxUpdateContainerId: "grid", columnNames: columns);  
}

        <!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Electric Trolley Spares Stock Control </title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        </head>
    
    <nav class "navbar">
  <div class="container-fluid">
        <div class="nav navbar-nav">
            <a href="landingpage.cshtml" class ="btn" role="button">Home</a>
        <a href="Add_Stock.cshtml"class="btn" role="button">Add Stock</a>
        <a href="Add_New_Item" class="btn" role="button">Add New Item</a>
            <a href="Inventory.cshtml" class="btn" role="button">Inventory </a> 
            <a style="color: #f00" href="Problems.cshtml" class="btn" role="button">Problems!</a> 
    </ul>
   </nav>
  </div>
  <div id="bdy">
<h1 class="text-center">Alerts</h1>
  </div>    
 
        <div id="grid">
         @grid.GetHtml(
    displayHeader:true,
     tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
    columns: grid.Columns(
        grid.Column("partdesc"),
        grid.Column("PartName"),
        grid.Column("Type"),
        grid.Column("Quantity")
    )
)
</div>
<a href="Landingpage.cshtml" class="btn" role="button">Back</a>